BintanELearning/.gwt/.gwt-log
*.class
*.jar
BintanCore/build
BintanCore/bin
BintanCore/log
BintanCore/generated
BintanParent/artifacts
BintanParent/bin
BintanParent/generated
BintanWeb/build
BintanWeb/context
BintanWeb/www
BintanWeb/war
BintanWeb/.gwt
BintanWeb/.gwt-tmp
BintanWebCommons/build
BintanWebCommons/generated
BintanWebCommons/war
BintanWebCommons/.gwt
BintanWebCommons/.settings/org.apache.ivyde.eclipse.prefs
BintanCoding/test-classes
BintanCoding/WebContent/WEB-INF/classes
BintanCoding/WebContent/WEB-INF/deploy
BintanCoding/WebContent/bintancoding
BintanCoding/build
BintanCoding/generated
BintanCoding/.gwt/
BintanCoding/log
BintanELearning/gwt-unitCache/
BintanELearning/WebContent/bintanelearningadmin
BintanELearning/WebContent/bintanelearningclassroom
BintanELearning/WebContent/WEB-INF/deploy
BintanELearning/WebContent/WEB-INF/classes
BintanELearning/build
BintanELearning/bin
BintanELearning/generated
BintanCore/examplepdf.pdf
BintanCore/junit*.properties
BintanCore/parameter_test.pdf
BintanCore/standrd_query_sheet.pdf
BintanCore/test*.pdf
BintanCore/test*.gif
BintanCore/test*.png
BintanCore/test*.xls
BintanCore/log/bintan.log
BintanCore/reports/dependencies/bintan-bintan.core-BintanCompile.*
BintanCore/ivy-report.css
BintanFeasibility/build
BintanMedicationInventory/build
BintanMedicationInventory/bin
BintanCtms/build
BintanCtms/bin
BintanBirtComposedProvider/bin
BintanBirtComposedProvider/build
BintanBirtComposedProvider/generated
BintanRestApi/bin
BintanRestApi/build
BintanRestApi/generated
BintanRestApi/WebContent/WEB-INF/classes
BintanRestApi/.springBeans
BintanRestApi/log
BintanMedicationInventory/build
BintanItemTranslation/bin
